@font-face {
    font-family: "et-book";
    src: url("extras/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("extras/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("extras/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("extras/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("extras/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "et-book";
    src: url("extras/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("extras/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("extras/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("extras/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("extras/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "et-book";
    src: url("extras/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("extras/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("extras/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("extras/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("extras/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "et-book-roman-old-style";
    src: url("extras/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("extras/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("extras/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("extras/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("extras/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.SF_breadcrumb_item a:hover {color: #0000FF;}
.SF_breadcrumb_item, .SF_breadcrumb_item a:link, .SF_breadcrumb_item a:visited {margin: 0px 0px 0px 1px; color: #449944; text-decoration: none;}
.SF_breadcrumb_line {margin: 0px 0px 0px 0px; font-size: 10pt !important;}
.SF_breadcrumb_title {margin: 0px 0px 0px 0px;}
.SF_breadcrumbarea {margin: 5px 0px 5px 0px; }

.SF_content_footertext {text-align: right; margin: 5px 0px 0px 0px; font-size: .8rem !important;}
.SF_content_headertext , .SF_content_headertext a:link, .SF_content_headertext a:visited {text-align: right; margin: 0; font-size: .75rem; font-family: sans-serif;}

.SF_debug_text {font-family: sans-serif; font-size: 7pt; color: #000000; margin: 0px 0px 0px 0px;}
.SF_error_text {font-family: sans-serif; font-size: 10pt; font-weight: bold; color: #FF0000; margin: 0px 0px 0px 0px;}

.SF_footer_text {margin: 0px 0px 0px 0px; font-size: 10pt !important;}
.SF_footerarea { margin-left:  1rem; margin-right:  1rem;}

#SF_menuarea.SF_menuarea {height: 2rem;   line-height: 2.4rem !important; height:  auto;}
#SF_menuarea.SF_menuarea a {font-size:  1.2rem;}

.SF_menu_level_1 {display: inline; }
.SF_menu_level_1 a:hover { margin: 0px 0px 0px 0px; background-color:  #BBBBBB !important; color: #FFF000 !important; display: inline; }
.SF_menu_level_1 a:link, .SF_menu_level_1 a:visited { color: #000000; margin: 0px 0px 0px 0px; padding: 5px 5px 5px 5px; text-decoration: none; display: inline; border: 1px solid black;}
.SF_menu_level_1_highlight a:link, .SF_menu_level_1_highlight a:visited { color: #FF0000; margin: 0px 0px 0px 0px; text-decoration: none; display: inline; padding: 5px 5px 5px 5px;}
.SF_menu_level_1_highlight a:hover { margin: 0px -5px 0px -5px !important; padding: 5px 10px 5px 10px !important; background-color:  #BBBBBB !important; color: #FFF000 !important;}
.SF_menu_level_1_highlight { color: #FF0000; margin: 0px 0px 0px 0px; text-decoration: none; display: inline; border: 1px solid black; padding: 5px 5px 5px 5px;}
.SF_menu_level_1_highlight p {margin: 0; padding: 5px 5px 5px 5px;}

.SF_menu_level_2 a:hover, .SF_menu_level_2_highlight a:hover { margin: 0px 0px 0px 0px; background-color:  #AAAAAA !important; color: #FFF000 !important; display: inline; padding: 5px 0px 5px 0px;}
.SF_menu_level_2 a:hover, .SF_menu_level_2_highlight a:hover {color: #0000FF;}
.SF_menu_level_2, .SF_menu_level_2 a:link, .SF_menu_level_2 a:visited {display:  inline; order: 1px solid black; color: #449944; margin: 0px 0px 0px 0px; text-indent: 0px; text-decoration: none;}
.SF_menu_level_2_highlight a:link, .SF_menu_level_2_highlight a:visited {display:  inline; color: #FF0000; margin: 0px 0px 0px 0px; text-indent: 0px; text-decoration: none;}
.SF_menu_level_2_highlight {display:  inline; color: #FF0000; margin: 0px 0px 0px 0px; text-indent: 0px; text-decoration: none;}

.SF_map_level_1, .SF_map_level_1 a:link, .SF_map_level_1 a:visited {font-size: 11pt; color: #000000; font-weight: bold; margin: 1px 0px 1px 20px; }
.SF_map_level_2, .SF_map_level_2 a:link, .SF_map_level_2 a:visited {font-size: 10pt; color: #000000; margin: 1px 0px 1px 35px;}
.SF_map_level_3, .SF_map_level_3 a:link, .SF_map_level_3 a:visited {font-size: 9pt; color: #000000; margin: 1px 0px 1px 50px;}
.SF_map_level_4, .SF_map_level_4 a:link, .SF_map_level_4 a:visited {font-size: 8pt; color: #000000; margin: 1px 0px 1px 65px;}
.SF_map_level_5, .SF_map_level_5 a:link, .SF_map_level_5 a:visited {font-size: 8pt; color: #000000; margin: 1px 0px 1px 80px;}
.SF_map_level_6, .SF_map_level_6 a:link, .SF_map_level_6 a:visited {font-size: 8pt; color: #000000; margin: 1px 0px 1px 95px;}

.SF_offsite_link a:hover {color: #0000FF;}
.SF_offsite_link, .SF_offsite_link a:link, .SF_offsite_link a:visited {color: #999999;}

.SF_timing_text {font-family: sans-serif; font-size: 7pt; color: #990000; margin: 0px 0px 0px 0px; text-align: right;}

.SF_flex_box {display:  flex;}

.border {border:1px solid black;}

.SF_header_heading { font-weight: bold; font-size: 1.6rem;}
.SF_header_heading h1 {   display:  inline-block; vertical-align: top; margin-top: .75rem; font-size: 2rem;}
.SF_header_heading h1 p { margin-top:  .25rem; font-weight:  normal; font-family: serif;  font-style: italic; font-size: 1rem;}
.SF_header_heading img {   width:  5rem; height: 5rem;}

.SF_header_optionstext , .SF_header_optionstext a:link, .SF_header_optionstext a:visited {font-size: .75rem; text-align: right; margin: 0px 0px 0px 0px;}
/*.SF_headerarea p {font-size: .75rem; display:  block}*/
.SF_headerarea {  font-size: 1.2rem; }
.SF_bodyarea {}

/*.card-content {padding: 0.5rem; height: auto; display: block;}*/
.bodygrid {margin: .1rem auto; display: grid; width: 98%;}
.card {margin:  .1rem; padding: 1rem; display: block; }
.card-content {padding: .1rem; display: inline-block; width: 98% !important; vertical-align: top; }

.card-urlpreview p { margin: 0 10px 0 10px;  text-align: center; font-size: .9rem;}
.card-urlpreview img {max-width: 100%; max-height: auto;}
.card-urlpreview { margin-left:  1rem; margin-top: 5rem; padding: 5px 5px 5px 5px; border: 1px solid black; display: inline-block; max-width: 200px;}

.pagemetabottomcard {padding: 1rem; height: auto; display: block;}

#SF_contentarea p {}

/* lightbox gallery classes */
.lbg-container {
  display:  block;
}
.lbg-image {
  max-width: 300px;
  float:  left;
  border: 1px solid lightgray;
  margin-left: 5px;
  margin-bottom:  5px;
}
.lbg-image img {
  width:  100%;
  height:  auto;
  vertical-align: middle;
}
.lbg-caption {
  color:  black;
  text-align: center;
  border: none;
}
.lbg-container a{
  color:  black;
  text-decoration: none;
}
.lbg-image:hover{
border: 1px solid black;
}

a:active {}
a:hover {/*hover doesn't work in nn4*/}
a:link {}
a:visited {}

html {
  font-size: 1rem;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

body { }
p {font-size: 1.1rem; }
ul li {font-size: 1.1rem; }
h1 {font-weight: bold;}
h2 {font-weight: bold;}
h3 {font-weight: bold;}
h4 {font-weight: bold;}

pre {
  font-family: monospace; 
  font-size:  .75rem;
}
strong, b {
  font-weight: bold;
}
table td {border:  1px solid grey;}

figure {
  text-align: center;
}

figure img {
  max-width:  500px;
  width:  100%;
  height:  auto;
}

.dateby {
	margin: -1rem 0 0 0; 
	font-family:  sans-serif;
	font-size:  .8rem;
}

@viewport {
  width:  device-width;
  initial-scale: 1.0;
}

@media only screen and (max-width: 600px) {

  html {
  font-size: 1rem;
  width:  100%;
  }
  .SF_headerarea {  font-size: 1rem; }
  p {font-size: 1.1rem; }
  ul li {font-size: 1.1rem; }
} 


 
