body {	
     /* for testing */
     /*colour: black;*/
	   /*background: red;*/
	font-family: serif;
	font-size: 10pt;
	margin-top: 0.1em;
	margin-right: 0.1em;
	margin-bottom: 0.1em;
	margin-left: 0.1em
	
	}

p{ 
font-size: 90%;
}

ul{}

li{}
	
h1 {
	font-size: 140%;
	color: #000000;
	}
h2 {
	font-size: 130%;
	}
h3 {
	font-size: 120%;
	}
h4 {
	font-size: 100%;
	}
	
.SF_site_footer_text {
	font-size: 7pt;
	}
